* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 200px 1fr 300px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: start;
  padding: 40px;
  gap: 16px;
}

main a {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
  padding: 16px;
  
  border: 1px solid #ddd;
  
  text-decoration: none;
  color: inherit;

  cursor: pointer;

  &:hover {
    background-color: #e2e1e0;
  }
}

main a img {
  width: 48px;
  height: 48px;
}

main a span {
  font-size: 0.85rem;
}