$gray_1: #F5F5F5;
$gray_2: #DCDCDC;
$gray_3: #A9A9A9;
$gray_4: #808080;
$gray_5: #505050;
$gray_6: #2B2B2B;

$blue_1: #E6F0FF;
$blue_2: #B3D1FF;
$blue_3: #80B2FF;
$blue_4: #4D94FF;
$blue_5: #1A75FF;
$blue_6: #0052CC; 

$green_1: #E6FFEA; 
$green_2: #B3F0C2;
$green_3: #80E699;
$green_4: #4DCC73;
$green_5: #1AB34D;
$green_6: #008033; 

$red_1: #FFE6E6; 
$red_2: #FFB3B3;
$red_3: #FF8080;
$red_4: #FF4D4D;
$red_5: #FF1A1A;
$red_6: #CC0000;