main {
	display: flex;
}

#nav-container {
	width: 200px;
	background-color: green;
}

#nav-container .nav-item {

	&:hover {
		cursor: pointer;
		background-color: bisque;
	}
}

#unicode-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;

  > .unicode-item {
    aspect-ratio: 1 / 1;
    font-size: 20px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }
  }
}
