$hover-color: rgb(226, 225, 224);

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1500px) 1fr;
}

main > section {
  display: grid;
  grid-template-columns: 200px 1fr;

  overflow: hidden;
}

main > section > * {
  overflow: auto;
  min-width: 0;
}

#nav-container .nav-item {
  font-size: 1.2rem;
  padding: 0 10px;

  cursor: pointer;

	&:hover {
		background-color: $hover-color;
	}

  &.active {
    font-weight: 600;
    border-left: 3px solid #333;
    background-color: $hover-color;
  }
}

#nav-container {
  border-right: 1px solid #e0e0e0;
  
  .nav-item {
    padding: 8px 10px;
    border-bottom: 1px solid #f0f0f0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#unicode-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 72px);

  justify-content: center;
  align-content: start;

  padding: 0 40px;
  gap: 8px;

  > .unicode-item {
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;

    border: 1px solid #ddd;
    background: white;

    cursor: pointer;
    
    &:hover {
      background: $hover-color;
    }
  }
}
